@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-y: hidden;
}
.myoverflow{
    overflow-x: hidden;
    overflow-y: auto;
}
.container {
    height: 100%;
    position: relative;

    .torna {
        position: absolute;
        left: 0px;
        top: 20px;
    }
}
.shadow{
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.88);
box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.88);
}

header {
    background-color: #3ABFB4 !important;
    nav{
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);

    }
    a {
        color: black !important;
    }

    .logo {
        transition: all .5s;
        width: 85px;
    }
}



aside {
    background-color: #3ABFB4 !important;
    color: black !important;
    height: 100%;
    width: 200px;
    transition: all .5s;
    nav {
        height: 100%;

        ul {
            display: flex;
            flex-direction: column;
            align-content: space-around;
            height: 100%;
            list-style: none;

            li {
                display: flex;
                align-items: center;
                height: 100px;
                margin-bottom: 8px;

                i {
                    text-decoration: none;
                    margin-left: 10px;
                }

                a {
                    position: relative;
                    color: black;
                    text-decoration: none;
                    font-size: 1.1rem;
                    transition: all .5s;


                    span {
                        transition: all .5s;
                        position: absolute;
                        left: 40px;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.main-wrapper {
    height: calc(100vh - 60px);
}

.custom-paragraph {
    font-size: 1.4rem;
}

// regole css da cancellare in seguito

.my-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        border-radius: 10px;
    }
}

.ristorante {
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
    width: 300px;
    }
}
.mybadge{
    transition: all .5s;
    color: black;
    background-color: #3ABFB4 !important;
    &:hover {
        color: white;
    }
}
.mycard{
    img{
        width: 300px;
    }
}
#password-error {
    opacity: 0;
}
@include media-breakpoint-down(lg) {
    .btn-group {
        flex-wrap: wrap;
    }

    .btn-group .btn {
        display: block;
        margin-bottom: 5px;
    }
    .restaurant_container{
        display: block !important;
    }
}

@include media-breakpoint-down(sm) {

    aside {
        width: 80px;
        nav {
            ul {
                align-items:normal;
                a {
                    &:hover {
                        text-decoration: underline;
                    }

                    i{
                        margin-left: -10px;
                        font-size: 1.6rem;
                    }
                        span {
                            display: none;
                        }
                    }
                }
            }
        }

        header {
            .logo {
                width: 105px;
            }
        }
}
