@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-y: hidden;
}

.myoverflow {
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    height: 100%;
    position: relative;

    .torna {
        position: absolute;
        left: 0px;
        top: 20px;
    }
}

.shadow {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.88);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.88);
}

header {
    background-color: #3ABFB4 !important;


    nav {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    a {
        color: black !important;
    }

    .logo {
        transition: all .5s;
        width: 85px;
    }
}



aside {
    background-color: #3ABFB4 !important;
    color: black !important;
    height: 100%;
    width: 200px;
    transition: all .5s;

    nav {
        height: 100%;

        ul {
            display: flex;
            flex-direction: column;
            align-content: space-around;
            height: 100%;
            list-style: none;

            li {
                display: flex;
                align-items: center;
                height: 100px;
                margin-bottom: 8px;

                i {
                    text-decoration: none;
                    margin-left: 10px;
                }

                a {
                    position: relative;
                    color: black;
                    text-decoration: none;
                    font-size: 1.1rem;
                    transition: all .5s;


                    span {
                        transition: all .5s;
                        position: absolute;
                        left: 40px;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.main-wrapper {
    height: calc(100vh - 60px);
}

.custom-paragraph {
    font-size: 1.4rem;
}

// regole css da cancellare in seguito

.my-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        border-radius: 10px;
    }
}

.ristorante {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 300px;
    }
}

.mybadge {
    transition: all .5s;
    color: black;
    background-color: #3ABFB4 !important;

    &:hover {
        color: white;
    }
}

.mycard {
    img {
        width: 300px;
    }
}

#password-error {
    opacity: 0;
}
//orders
.accordion{
    .accordion-button:not(.collapsed) {
        background-color: #35948c;
    }

    /* Sfondo del pulsante dell'accordion quando è aperto */
    .accordion-button.collapsed {
        background-color: #35948c;
    }

    /* Sfondo della tabella interna dell'accordion */
    .accordion-body {
        background-color: #3ABFB4;
        border-radius: 15px;
    }
    .accordion-item:not(.collapsed) {
        background-color: #3ABFB4;
    }
    .accordion-item {
        border-radius: 15px;
        overflow: hidden;
    }
    .accordion-item:not(.collapsed) {
        border-radius: 15px;
    }
    button{
        background-color: #3ABFB4;
        border-radius: 15px;
    }
    table{
        background-color: #3ABFB4 !important;

        tbody tr {
            border-bottom: none;
            border-color: rgba(240, 248, 255, 0);
            td{
                background-color: #35948c;
            }
        }
        th {
            background-color: #35948c;
        }
        td {
            padding: 15px 0px;
            background-color: #3ABFB4;
        }
    }
    .table-body{
        th{
            background-color: #3ABFB4 !important;
        }
        td{
            background-color: #3ABFB4;
        }
    }
}
.accordion-button::after {
    margin-left: 20px;

}

/* Rimuovi il cambio di colore del background */
.accordion-button:not(.collapsed) {
    transition: all .5s;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.88);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.88);
}

/* Rimuovi il bordino blu quando l'accordion è attivo */
.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

@include media-breakpoint-down(lg) {
    .btn-group {
        flex-wrap: wrap;
    }

    .btn-group .btn {
        display: block;
        margin-bottom: 5px;
    }
    .restaurant_container{
        display: block !important;
    }
}

@include media-breakpoint-down(sm) {

    aside {
        width: 80px;

        nav {
            ul {
                align-items: normal;

                a {
                    &:hover {
                        text-decoration: underline;
                    }

                    i {
                        margin-left: -10px;
                        font-size: 1.6rem;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    header {
        .logo {
            width: 105px;
        }
    }
}

/* // pulsanti della show in restaurant */
.mybadge-button {
    width: 70%;
}

@media (max-width: 815px) {
    .div-img{
        img{
            width: 100%;
        }
    }
}
@media (min-width: 992px) {
    .mybadge-button {
        width: 20%;
        height: 62px;
    }
}

@media (min-width: 1440px) {
    .mybadge-button {
        height: 40px;
    }
}
