@import '~bootstrap/scss/bootstrap';

header{
    height: 60px;
}

aside{
    height: 100%;
    width: 280px;
    nav{
        ul{
            list-style: none;
            li{
                margin-bottom: 8px;
                i{
                    text-decoration:  none;
                }
                a{
                    color: white;
                    text-decoration:  none;
                    font-size: .9rem;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.main-wrapper{
    height: calc(100vh - 60px);
}

.custom-paragraph{
    font-size: 1.4rem;
}

// regole css da cancellare in seguito

.my-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
